.flyToList {
  z-index: 500;
}

.dropdownButton button {
  min-width: 110px;
}

.flyToContainer {
  position: relative;
  z-index: 900;
  max-height: 120px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  pointer-events: auto;
  border-radius: 1em;
}

.leaflet-container a {
  color: #303030;
}
