.graph {
  width: 100%;
}

.graphContainer {
  width: 100%;
  height: 40vh;
  padding: 0 0.5em;
  display: flex;
  position: relative;
  align-items: center;
  background-color: whitesmoke;
}

.propsContainer {
  background-color: #c6c7c8;
}

.buttonContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 2em;
  justify-content: space-around;
  align-items: center;
  background-color: #c6c7c8;
  margin-top: 3em;
}

.buttonContainer h3 {
  margin-top: 1em;
  border-bottom: 1px solid black;
}

.buttonContainer div {
  flex-direction: row;
}
.buttonContainer button {
  margin: 0.5em;
  border-radius: 0.5em;
}

.radioContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.radioContainer div {
  margin: 1em;
}

@media (max-width: 500px) {
  .radioContainer {
    flex-direction: column;
  }
}
